@import "tailwindcss";

:root {
  /* --background: #ffffff; */
  /* --foreground: #171717; */
}
button{
  cursor:pointer;
}

/* Fade-in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 0.7s ease-out forwards;
}

/* Loading bar animation */
@keyframes loadingBar {
  0% {
    transform: translateX(-100%) scaleX(0.1);
  }

  50% {
    transform: translateX(100%) scaleX(0.7);
  }

  100% {
    transform: translateX(100%) scaleX(0.1);
  }
}

.loading-bar {
  animation: loadingBar 2s linear infinite;
}

/* Optional: pulsing text */
@keyframes pulseOpacity {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.4;
  }
}

.pulse-text {
  animation: pulseOpacity 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}